name: Trigger auto deployment for ca-lazarus-brief-apbf6vkaji2vw

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/ca-lazarus-brief-apbf6vkaji2vw-AutoDeployTrigger-d7629af9-d922-4e2b-b13b-5bc9c5a844ac.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.CALAZARUSBRIEFAPBF6VKAJI2VW_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.CALAZARUSBRIEFAPBF6VKAJI2VW_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.CALAZARUSBRIEFAPBF6VKAJI2VW_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: acrlazarusomega14916.azurecr.io
          registryUsername: ${{ secrets.CALAZARUSBRIEFAPBF6VKAJI2VW_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.CALAZARUSBRIEFAPBF6VKAJI2VW_REGISTRY_PASSWORD }}
          containerAppName: ca-lazarus-brief-apbf6vkaji2vw
          resourceGroup: rg-lazarus-omega-production
          imageToBuild: acrlazarusomega14916.azurecr.io/ca-lazarus-brief-apbf6vkaji2vw:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


